# Database Configuration
DB_URL=postgresql+asyncpg://username:password@localhost:5432/wb_parser

# Redis Configuration
REDIS_HOST=YOUR_REDIS_HOST
REDIS_PORT=YOUR_REDIS_PORT

# AI Service
OPEN_AI_KEY=YOUR_OPENAI_KEY
